/* reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* vars */
:root {
    --font-family-title: 'Shrikhand', cursive;
    --font-family-text: 'Roboto', sans-serif;
    --color-primary: #9356DC;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --color-tertiary-dark: #008766;
    --color-light-grey: #F6F6F6;
    --color-grey: #EAEAEA;
    --color-dark-grey: #353535;
}

/* common */
#templates {
    display: none;
}

body {
    font-family: var(--font-family-text);
}

h1 {
    font-family: var(--font-family-title);
}