<a class="card-restaurant" href="{{restaurant.name | slug}}.html">
    <img src="./images/restaurants/{{restaurant.image}}" alt="{{restaurant.name}}">
    <div class="content">
        <div>
            <h4>{{restaurant.name}}</h4>
            <p>{{restaurant.location}}</p>
        </div>
        {% include 'favorite.njk' %}
    </div>
    <span class="badge-new {{restaurant.new}}">
        <strong>Nouveau</strong>
    </span>
</a>