<a class="card-restaurant" href="{{restaurant.name | slug}}.html">
    <img src="./images/restaurants/{{restaurant.image}}" alt="{{restaurant.name}}">
    <div class="content">
        <div>
            <h4>{{restaurant.name}}</h4>
            <p>{{restaurant.location}}</p>
        </div>
        <span class="favorite">
            <i class="fa-regular fa-heart unactive"></i>
            <i class="fa-solid fa-heart active"></i>
        </span>
    </div>
    <span class="badge-new {{restaurant.new}}">
        <strong>Nouveau</strong>
    </span>
</a>