<div class="card-dish">
    <div class="card-dish-content">
        <h4>{{dish.title}}</h4>
        <p>{{dish.subtitle}}</p>
    </div>
    <div class="card-dish-price">
        <strong>{{dish.price}}€</strong>
    </div>
    <div class="card-dish-check">
        <i class="fa-solid fa-circle-check"></i>
    </div>
</div>