<a class="card-dish">
    <div class="content">
        <h5>{{dish.title}}</h5>
        <p>
            <span>{{dish.subtitle}}</span>
            <strong>{{dish.price}}€</strong>
        </p>
    </div>
    <div class="check">
        <i class="fa-solid fa-circle-check"></i>
    </div>
</a>