{% extends "layout-base.njk" %}
{% block content %}
  <header class="section-nav">
    <a href="./">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
    <h1>ohmyfood</h1>
  </header>
  <main>
    <img src="./images/restaurants/{{restaurant.image}}" alt="{{restaurant.name}}">
    <section>
      <div class="page-title">
        <h2>{{restaurant.name}}</h2>
        <a href="#">{% include 'favorite.njk' %}</a>
      </div>
      <ul class="menu-section-type">
        {% for type in dishTypes %}
          <li class="menu-section menu-section-{{type.code}}">
            <h4>{{type.label}}</h4>
            <hr>
            <ul>
              {% for dish in restaurant.dishes | filter_by('type', type.code) %}
                <li>{% include 'card-dish.njk'%}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      <div class="menu-order">
        <a class="button" href="#">Commander</a>
      </div>
    </section>
  </main>

{% endblock %}