{% extends "layout-base.njk" %}
{% block content %}
    <header>
        <h1>ohmyfood</h1>
    </header>
    <main>
        <section class="section-location">
            <i class="fa-solid fa-location-dot"></i>
            <span>Paris, Belleville</span>
        </section>
        <section class="section-title">
            <h2>Réservez le menu qui vous convient</h2>
            <p>Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
            <a class="button" href="#section-restaurants">Explorer nos restaurants</a>
        </section>
        <section class="section-howto">
            <h2>Fonctionnement</h2>
            <ul>
                {% for step in steps %}
                    <li>{% include 'card-step.njk'%}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="section-restaurants" id="section-restaurants">
            <h2>Restaurants</h2>
            <ul>
                {% for restaurant in restaurants | sort_by_id %}
                    <li>{% include 'card-restaurant.njk' %}</li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}