{% extends "layouts/base.njk" %}
{% block content %}
  <header>
    <i class="fa-solid fa-arrow-left"></i>
    <h1>ohmyfood</h1>
  </header>
  <main data-tpl-action="replace" data-tpl-source="restaurant">
    <img src="./assets/images/restaurants/{{restaurant.image}}" alt="{{restaurant.name}}">
    <section>
      <h2>{{restaurant.name}}</h2>
      <ul>
        {% for type in dishTypes %}
          <li class="menu-section menu-section-{{type.code}}">
            <h3>{{type.label}}</h3>
            <ul>
              {% for dish in restaurant.dishes | bytype(type.code) %}
                <li class="card-dish">
                  <div class="card-dish-content">
                    <h4>{{dish.title}}</h4>
                    <p>{{dish.subtitle}}</p>
                  </div>
                  <div class="card-dish-price">
                    <strong>{{dish.price}}€</strong>
                  </div>
                  <div class="card-dish-check">
                    <i class="fa-solid fa-circle-check"></i>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>

{% endblock %}