.card-step {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 35px;
  border-radius: 15px;
  background: var(--color-lighter-grey);
  height: 70px;
  box-shadow: 0 5px 5px 2px var(--color-light-grey);
}

.card-step i {
  color: var(--color-dark-grey);
  font-size: 1.5em;
}

.card-step .badge-step {
  --badge-size: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--badge-size);
  width: var(--badge-size);
  border-radius: 100%;
  background-color: var(--color-primary);
  color: white;
  margin-left: calc(0px - var(--badge-size) / 2);
}

.card-step:hover {
  background: var(--color-primary-faded);
}

.card-step:hover i {
  color: var(--color-primary);
}