.card-dish {
    --width-check: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 var(--color-grey);
    padding: 10px;
    background-color: white;
}

.card-dish .content,
.card-dish .content h5,
.card-dish .content p {
    margin: 0;
    padding: 0px;
    width: 100%;
}

.card-dish .content p {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    color: var(--color-darker-grey)
}

.card-dish .content {
    /* margin-right: auto; */
}

.card-dish .check {
    width: var(--width-check);
    overflow: hidden;
}

.card-dish:hover {
    --width-check: inherit;
}