/* reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* vars */
:root {
    --font-family-title: 'Shrikhand', cursive;
    --font-family-text: 'Roboto', sans-serif;
    --color-primary: #9356DC;
    --color-primary-faded: rgb(147, 86, 220, 0.1);
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --color-tertiary-dark: #008766;
    --color-darker-grey: #353535;
    --color-dark-grey: #7E7E7E;
    --color-grey: #CFCFCF;
    --color-light-grey: #EAEAEA;
    --color-lighter-grey: #F6F6F6;
}

/* common */
#templates {
    display: none;
}

body {
    font-family: var(--font-family-text);
    font-size: 15px;
}

h1,
h2 {
    font-family: var(--font-family-title);
}

h2 {
    font-weight: normal;
    font-size: 1.8em;
    margin: 0;
}

h3 {
    font-size: 1.6em;
}

h4 {
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
    color: var(--color-darker-grey);
}

h5 {
    margin: 0;
    font-size: 1.3em;
}