header,
.section-location,
.section-title {
    text-align: center;
}

.section-location {
    padding: 15px;
    background: linear-gradient(180deg,
            var(--color-grey) 0%,
            var(--color-light-grey) 10%);
}

.section-location>* {
    padding: 0 7px;
}

.section-title,
.section-restaurants {
    padding: 15px;
    background-color: var(--color-lighter-grey);
}

/* .section-restaurants>div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

footer {
    background-color: var(--color-dark-grey);
    color: white;
    padding: 15px;
}